<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="App_Arisan.Properties.Settings.DB_APP_ARISANConnectionString"
            connectionString="Data Source=LAPTOP-D7CCRR4J;Initial Catalog=DB_APP_ARISAN;User ID=sa;Password=sql12345^"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>